<!-- Mobile view -->
<div ng-controller="ResetPswdController" flex layout="column" layout-align="start stretch" class="bg-F6F6F6">
    <div loader working="loading" message="loadingMessage" disable-background="true" class="loader-content"></div>
    <div flex layout-fill class="interested_mob_wrap account-wrapper mobile-perent forgot-screen pa-height-auto-imp">
        <div class="mobile-header display-flex-mob desktop-hide">
            <span class="back-btn-mobile">
                <a back-to-history class="pa-cursor-pointer"><i class="material-icons">arrow_back</i></a>
            </span>
        </div>
        <div class="container-wtd-1170 mobile-insta-login">
            <h2 class="add-mob-title">Forgot password?</h2>
            <p class="pa-font-15 pa-color-666666 pa-mb-20 forgot-para">Enter your {{tabSection ? 'email address' : 'mobile number'}}, and we'll send you a {{tabSection ? 'link' : 'One Time Password'}} to get back into your account.</p>
            <div class="forgot-tabs">
                <div class="rd_tab" ng-repeat="d in radioData">
                    <input type="radio" name="frg-rd" id="frg-{{d.value}}" ng-value="d.value" ng-click="tabChange(d.value)" ng-checked="d.checked" ng-disabled="d.isDisabled" ng-class="{'md-align-top-left': $index==1}"> <label for="frg-{{d.value}}">{{ d.label }}</label>
                </div>
            </div>
            <form ng-show="tabSection" name="ResetFormEmail" ng-submit="forgetPswdEmail(Email, ResetFormEmail)" id="ResetFormEmail">
                <md-input-container class="form-group full-field pa-mt-30-imp flex-gt-sm md-input-has-value mobile-hide pa-mb-30 pa-mb-12">
                    <label>Email Address <span class="pa-required">*</span></label>
                    <input ng-model="Email" name="email" id="emailAddressField" class="form-control login-control ob-color-input tt-font-16" type="text" ng-required="ResetFormEmail.email.$invalid" ng-pattern="/^(([^<>(+)\[\]\.,;:\s@\”]+(\.[^<>()\[\]\.,;:\s@\”]+)*)|(\”.+\”))@(([^<>()[\]\.,;:\s@\”]+\.)+[^<>()[\]\.,;:\s@\”]{2,})$/i"
                    />
                    <a class="username-clear" ng-hide="!Email" ng-click="Email = null"><span class="material-icons">close</span></a>
                    <div ng-messages="ResetFormEmail.email.$error" class="input-error">
                        <div ng-message="required">This field is required.</div>
                        <div ng-message="pattern">Please Enter Valid Email Address.</div>
                    </div>
                </md-input-container>
                <div class="col-md-12 pa-mb-30 pa-mt-30 pa-pl-pr-0 text-right forgot-btn">
                    <button ng-disabled="ResetFormEmail.email.$error.required" type="submit" class="btn btn-login ob-padding-0 h-48 ob-line-ht-48 pa-font-bold pa-font-16">Reset Password</button>
                </div>
            </form>

            <form ng-show="!tabSection" name="ResetFormMobile" ng-submit="forgetPswdMobile(mobile_number, ResetFormMobile)" id="ResetFormMobile">
                <div ng-if="!tabSection" class="md-input-container">
                    <country-code-select ng-model="countryCode"></country-code-select>
                </div>
                <md-input-container class="form-group full-field pa-mt-30-imp pa-mt-sm-18-imp flex-gt-sm md-input-has-value mobile-hide pa-mb-12">
                    <label ng-class="{'padding-left-115-m': !tabSection}">Mobile Number <span class="pa-required">*</span></label>
                    <input ng-model="mobile_number" name="mobileNumber" id="mobileNumberField" class="form-control login-control ob-color-input tt-font-16 padding-left-110" type="{{tabSection ? 'text' : 'number'}}" ng-change="signupBlur(mobile_number)" ng-required="ResetFormMobile.mobileNumber.$invalid"
                    />
                    <a class="username-clear" ng-hide="!mobile_number" ng-click="mobile_number = null"><span class="material-icons">close</span></a>
                    <div ng-messages="ResetFormMobile.mobileNumber.$error" class="input-error">
                        <div ng-message="required">This field is required.</div>
                    </div>
                    <div ng-if="mobileNumberError && !tabSection" class="username-error">
                        <div>Please Enter Valid Mobile Number.</div>
                    </div>
                </md-input-container>
                <div class="col-md-12 pa-mb-30 pa-mt-30 pa-pl-pr-0 text-right forgot-btn">
                    <button ng-disabled="ResetFormMobile.mobileNumber.$error.required && !mobileNumberError" type="submit" class="btn btn-login ob-padding-0 h-48 ob-line-ht-48 pa-font-bold pa-font-16">Reset Password</button>
                </div>
            </form>

            <div class="forgot-create-account mobile-hide">
                <div class="or"><span>OR</span></div>
                <a ng-href="/signup">Create New Account</a>
            </div>
        </div>
        <div class="alrd_lg_wrp forgot-alrd_lg_wrp"><a ng-href="/login">Go Back to Log In</a></div>
    </div>
    
</div>