<div ng-controller="ResetPswdOTPController" flex layout="column" layout-align="start stretch" class="bg-F6F6F6">
    <div loader working="loading" message="loadingMessage" disable-background="true" class="loader-content"></div>
    <div flex layout-fill class="interested_mob_wrap account-wrapper mobile-perent">
        <div class="mobile-header display-flex-mob desktop-hide">
            <span class="back-btn-mobile">
                <a back-to-history class="pa-cursor-pointer"><i class="material-icons">arrow_back</i></a>
            </span>
        </div>
        <div class="container-wtd-1170 mobile-insta-login">
            <h2 class="add-mob-title desktop-hide">Reset Password</h2>
            <figure ng-click="goToPage('/')" class="login_lg mobile-hide"><img src="/img/logo-the-promo-app-red.png" alt="promoapp" class="img-responsive"></figure>
            <form name="ResetForm" ng-submit="resetPswd()" id="reset_form">
                <md-input-container class="form-group full-field flex-gt-sm md-input-has-value mb-62">
                    <label>New Password <span class="pa-required">*</span></label>
                    <input ng-model="newPassword" name="Password" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/" class="form-control login-control pa-pr-55 ob-color-input tt-font-16" type="{{inputType}}" required>
                    <div class="pass-show" ng-class="{'up': newPassword != null}" ng-click="hideShowPassword()">{{inputType === 'password' ? 'Show' : 'Hide'}}</div>
                    <a class="username-clear" ng-hide="!newPassword" ng-click="newPassword = null"><span class="material-icons">close</span></a>
                    <div ng-messages="ResetForm.Password.$error" class="input-error">
                        <div ng-message="required">This field is required.</div>
                        <div ng-message="pattern">
                            Password should be at least 8 characters long and should contain one number, one upper case letter, and one special character.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="form-group full-field pa-mt-30-imp" flex-gt-sm>
                    <label>Confirm Password <span class="pa-required">*</span></label>
                    <input ng-model="confPassword" name="confPassword" type="{{inputTypeCon}}" class="form-control pa-pr-30" compare-to-new="newPassword" required>
                    <div class="pass-show" ng-class="{'up': confPassword != null}" ng-click="hideShowPasswordCon()">{{inputTypeCon === 'password' ? 'Show' : 'Hide'}}</div>
                    <a class="username-clear" ng-hide="!confPassword" ng-click="confPassword = null"><span class="material-icons">close</span></a>
                    <div ng-messages="ResetForm.confPassword.$error" class="input-error">
                        <div ng-message="required">This field is required.</div>
                        <div ng-message="compareToNew">The New password and confirmation password do not match.</div>
                    </div>
                </md-input-container>
                <div class="col-md-12 pa-pl-pr-0 text-right"><button type="submit" ng-disabled="!ResetForm.$valid" class="btn btn-login ob-padding-0 h-48 ob-line-ht-48 pa-font-bold pa-font-16">Submit</button></div>
            </form>
        </div>
    </div>
    
</div>