<div flex layout="column" layout-align="start stretch" class="bg-F6F6F6">
    <div loader working="loading" message="loadingMessage" disable-background="true" class="loader-content"></div>
    <div flex layout-fill class="interested_mob_wrap account-wrapper mobile-perent ">
        <div class="mobile-header display-flex-mob desktop-hide">
            <span class="back-btn-mobile">
                <a ng-click="goToPage('/')" class="pa-cursor-pointer"><i class="material-icons">arrow_back</i></a>
            </span>
        </div>
        <div class="container-wtd-1170 mobile-insta-login">
            <h2 class="add-mob-title desktop-hide">Sign Up</h2>
            <figure ng-click="goToPage('/')" class="login_lg mobile-hide"><img src="/img/logo-the-promo-app-red.png" alt="promoapp" class="img-responsive"></figure>
            <div class="mobile-hide verify_em_ph_title signup_em_ph_tit">Sign up to buy tickets, create events, and more.</div>
            <div class="forgot-tabs">
                <div class="rd_tab" ng-repeat="sign in radioData">
                    <input type="radio" name="sginup-rd" id="signup-{{sign.value}}" ng-value="sign.value" ng-click="tabChange(sign.value)" ng-checked="sign.checked" ng-disabled="sign.isDisabled" ng-class="{'md-align-top-left': $index==1}"> <label for="signup-{{sign.value}}">{{ sign.label }}</label>
                </div>
            </div>
            <form name="signupForm" novalidate ng-submit="verifySignupType($event, signupForm)" id="signupFormId">
                <div ng-if="!tabSection" class="md-input-container">
                    <country-code-select ng-model="countryCode"></country-code-select>
                </div>
                <md-input-container class="form-group full-field pa-mt-30-imp flex-gt-sm md-input-has-value mobile-hide pa-mb-0">
                    <label ng-class="{'padding-left-115-m': !tabSection}">{{tabSection ? 'Email Address' : 'Mobile Number'}} <sup class="pa-required">*</sup></label>
                    <input ng-model="singupValue" name="signUpValue" ng-class="{'padding-left-110': !tabSection}" class="form-control login-control ob-color-input tt-font-16" type="{{tabSection ? 'text' : 'number'}}" ng-change="signupBlur(singupValue)" ng-required="signupForm.signUpValue.$invalid"
                    />
                    <a class="username-clear" ng-hide="!singupValue" ng-click="singupValue = null"><span class="material-icons">close</span></a>
                    <div ng-messages="signupForm.signUpValue.$error" class="input-error">
                        <div ng-message="required">This field is required.</div>
                    </div>
                    <div ng-if="usernameError && tabSection" class="username-error">
                        <div>Please Enter Valid Email Address.</div>
                    </div>
                    <div ng-if="mobileNumberError && !tabSection" class="username-error">
                        <div>Please Enter Valid Mobile Number.</div>
                    </div>
                </md-input-container>
                <p class="pa-font-12 pa-color-666666 pa-mb-20">We will send an One Time Password to verify the {{tabSection ? 'email address' : 'mobile number'}}.</p>
                <div class="col-md-12 pa-mb-0 pa-mt-30 pa-pl-pr-0 text-right forgot-btn">
                    <button ng-disabled="signupForm.singupValue.$error.required || (usernameError || mobileNumberError)" type="submit" class="btn btn-login ob-padding-0 h-48 ob-line-ht-48 pa-font-bold pa-font-16">{{tabSection ? 'Verify Email to Continue' : 'Verify Mobile Number to Continue'}}</button>
                </div>
            </form>
        </div>
        <div class="alrd_lg_wrp">Already have an account? <a ng-href="/login">Log In</a></div>
    </div>
    
</div>