.publish_event_list .upgrade-manage-events-title {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 8px;
    text-decoration: none;
    word-break: break-word;
    overflow: hidden;
    width: auto;
}

.publish_event_list .upgrade-manage-events-list {
    border-color: #E4E4E4;
}

.publish_event_list .widget_list_infolist,
.publish_event_list .widget_list_infolist span {
    width: auto;
    margin: 5px 0;
    font-size: 14px;
    font-weight: normal;
}

.publish_event_list .widget_list_btn {
    max-width: 100%;
    border-top: 1px solid #979797;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.publish_event_list .upcoming-event-box-img,
.publish_event_list .upcoming-event-box-img img {
    width: 267px;
    height: 200px;
}

.publish_event_list .widget_list_btn a {
    border: 0;
    display: flex;
    width: auto;
    align-items: center;
    height: 39px;
}

.publish_event_list .widget_list_btn a i {
    font-size: 22px;
    margin-right: 10px;
}

.publish_event_list .last_step_check {
    padding: 0;
    margin: 0 -15px;
}

.publish_event_list .last_step_check .checklist_final {
    padding: 20px 15px;
}

.publish_event_list .last_step_check .checklist_final_list .material-icons {
    font-size: 22px;
}

.publish_event_list .tt-rec-left {
    width: calc(100% - 271px) !important;
}