<div flex layout="column" layout-align="start stretch" class="pa-background-white desktop-hide" ng-if="isMobile.matches">
    <div loader working="loading" message="loadingMessage" disable-background="true" class="loader-content"></div>
    <div flex layout-fill class="profile_mob_wrap mobile-perent">
        <!-- Profile Details -->
        <div class="profile_up_del new_pp_bg tt-padding-20">
            <div class="mobile-header-profile mb-10">
                <a back-to-history class="pa-cursor-pointer pa-display-inline-flex"><i class="material-icons">arrow_back</i></a>
            </div>
            <div class="pp_del_up">
                <figure class="pp_img">
                    <img ng-if="user.imgUrl" ng-src="{{user.imgUrl}}" alt="{{user.username || user.full_name}}">
                    <img ng-if="!user.imgUrl" src="../img/defaultProfilePic.png" alt="{{user.username || user.full_name}}">
                </figure>
                <div class="pp_del_rt pa-color-FFFFFF">
                    <h3 class="pa-font-17" ng-if="user.first_name">{{user.first_name +" "+ user.last_name}}</h3>
                    <h3 class="pa-font-17" ng-if="!user.first_name">{{user.username || user.full_name}}</h3>
                    <p class="pa-font-15" ng-if="!user.mobile_number">{{user.email}}</p>
                    <p class="pa-font-15" ng-if="user.mobile_number">{{user.mobile_number}}</p>
                    <p class="pa-font-15">{{user.city}}</p>
                </div>
            </div>
            <p class="pa-font-15 pa-color-FFFFFF">{{user.about_you}}</p>
        </div>
        <!-- Profile Details End -->
        <div class="mobile-perent-view-profile" ng-if="user.user_id == loggedInUser.user_id">
            <div class="about-profile-mob">
                <div class="container-wtd-1170">
                    <div class="about-e-mob">
                        <span>Email Address</span> 
                        {{user.email}}
                    </div>
                    <div class="about-e-mob" ng-if="user.mobile_number">
                        <span>Mobile Number</span> 
                        {{user.mobile_number}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>