
<div>
    <div ng-hide="value" class="mobile-header display-flex-mob tersm _mobileheade">
        <span class="back-btn-mobile">
            <a back-to-history><i class="material-icons">arrow_back_ios</i></a>
        </span>
    </div>
    <section class="about-banner">
        <div class="container-wtd-1100">
            <div class="banner-head">about us</div>
            <span class="back-btn-mobile-about">
                <!-- <a style="font-size: 14px;" back-to-history><i class="material-icons pa-color-FFFFFF">arrow_back_ios</i></a> -->
            </span>
        </div>
    </section>

    <section class="event-based bg-white">
        <div class="container-wtd-1170">
            <div class="row">
                <div class="col-sm-6">
                    <div class="event-based-content mr-15">
                        <h2>The Promo App is an event-based social network that tracks over
                            <span>30 million events</span> worldwide!
                        </h2>
                        <span class="event-based-desc">
                            By signing up, users can browse a live feed of public events with real-time event
                            information, or create and share their own events.
                        </span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="event-based-map mr-15">
                        <img src="img/map-art.svg" alt="map" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="access-device-event">
        <div class="container-wtd-1170">
            <div class="row">
                <div class="col-sm-6">
                    <div class="event-based-map">
                        <img src="img/web-app.png" alt="map" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="event-based-content">
                        <h2>Users can access the web app using any device, from anywhere</h2>
                        <span class="event-based-desc">
                            Connecting with friends, family, and people with similar interests.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="exciting-features bg-white">
        <div class="container-wtd-1170">
            <div class="exciting-features-head">
                <h2> Some of our most exciting features include</h2>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="exciting-features-list-box mr-15">
                        <div class="exciting-features-box-img">
                            <img src="img/sell-ticket.svg" alt="sell ticket" />
                        </div>
                        <div class="exciting-feature-content">
                            <h3>Sell Tickets</h3>
                            <span>The ability to sell tickets to your event straight from the platform - there's no need
                                to pay for a more expensive ticketing service.</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="exciting-features-list-box mr-15">
                        <div class="exciting-features-box-img">
                            <img src="img/manage-events.svg" alt="manage events" />
                        </div>
                        <div class="exciting-feature-content">
                            <h3>Manage Events</h3>
                            <span>An easy-to-use dashboard that helps you add and manage all your event details.</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="exciting-features-list-box mr-15">
                        <div class="exciting-features-box-img">
                            <img src="img/track-sales.svg" alt="track sales" />
                        </div>
                        <div class="exciting-feature-content">
                            <h3>Track Sales</h3>
                            <span>A simple way to track your sales and keep an eye on how well your event is
                                doing.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exciting-features-note">
                We are constantly adding new features, making event management<br />better than ever before. Keep checking back to see how we grow!
            </div>
        </div>
    </section>
    <section class="founder-profile">
        <div class="founder_m_wrapper">
            <figure class="founder_img">
                <img src="img/George.png" alt="track sales" />
            </figure>
            <div class="founder-about">
                <h2>George O'Neil</h2>
                <span class="postion-about">Founder of Promo App</span>
                <span class="founder-desc">George is the creative brain behind the Promo App. With his focus on small
                    communities, he is passionate about helping neighborhoods thrive. Promo was launched as a way to
                    connect people, while affording community members the chance to network and share experiences
                    through local events.</span>
            </div>
        </div>
    </section>
</div>
