<div class="custom-model-content" ng-controller="addLinkModalController">

    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Add Link</span>
        <md-icon ng-click="cancel()" class="pa-float-right">close</md-icon>
    </div>
    <div class="modal-body" style="padding: 0;">
        <form name="forms.addLinkForm" class="event-form">
            <md-input-container class="md-block pa-mt-30">
                <label class="pa-font-14 pa-color-333333 pa-bold-font pa-modal-font">Link</label>
                <input md-no-asterisk type="text" ng-model="linkInfo.link" name="link" class="form-control mt-10" placeholder="e.g. www.thepromoapp.com" required ng-pattern="/^(https?:\/\/)?(www\.)?([a-zA-Z0-9]+(-?[a-zA-Z0-9])*\.)+[\w]{2,}(\/\S*)?$/">
                <div ng-messages="forms.addLinkForm.link.$error" class="input-error">
                    <div ng-message="required">This field is required.</div>
                    <div ng-message="pattern">Invalid link</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block pa-mt-45">
                <label class="pa-font-14 pa-color-333333 pa-bold-font pa-modal-font">Text</label>
                <input md-no-asterisk type="text" md-maxlength="60" ng-model="linkInfo.text" name="text" class="form-control mt-10" placeholder="e.g. my website" required>
                <div ng-messages="forms.addLinkForm.text.$error" class="input-error">
                    <div ng-message="required">This field is required.</div>
                    <div ng-message="md-maxlength">Title must be less than 60 characters long.
                    </div>
                </div>
            </md-input-container>
        </form>
    </div>
    <div class="modal-footer pa-border-EEEEEE">
        <md-toolbar class="pa-modal-footer-height-toolbar">
            <div class="md-toolbar-tools">
                <div flex md-truncate>
                </div>
                <md-button ng-click="cancel()" class="add-link-cancel ht-48 pa-border-4 pa-font-16 pa-color-pink pa-bold-font">Cancel</md-button>
                <md-button ng-click="save()" ng-disabled="!forms.addLinkForm.$valid" class="pa-pink-button ht-48 pa-border-4 pa-color-999999 pa-font-16 pa-bold-font">Save</md-button>
            </div>
        </md-toolbar>

    </div>

</div>