<div class="custom-model-content">
    <div class="modal-header bg-F9F9F9">
        <span class="custom-row pa-ml-10 pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Add More Guests</span>
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
    </div>
    <div class="modal-body pa-pb-20">

        <div layout="column">
            <div layout-align="space-between center" class="text-center">
                <md-button ng-click="inviteMyFollower()" class="pa-border-CBCBCB pa-border-6 h-48 pa-background-white pa-pl-pr-16">
                    <md-icon class="pa-color-666666">people</md-icon><span class="pa-pl-10 pa-font-16 pa-color-pink pa-bold-font">Invite My Followers</span>
                </md-button>
                <md-button ng-click="inviteEmailModal()" class="pa-border-CBCBCB pa-border-6 h-48 pa-background-white pa-pl-pr-16">
                    <md-icon class="pa-color-666666">email</md-icon><span class="pa-pl-10 pa-font-16 pa-color-pink pa-bold-font">Invite Through Email</span>
                </md-button>
                <md-button ng-click="csvModal()" class="pa-border-CBCBCB pa-border-4 h-48 pa-background-white pa-pl-pr-16">
                    <md-icon class="pa-color-666666">insert_drive_file</md-icon><span class="pa-pl-10 pa-font-16 pa-color-pink pa-bold-font">Import CSV File</span>
                </md-button>
            </div>


            <div class="px-15" ng-if="guestList.guest_list.length > 0 || guestList.group_list.length > 0" layout="column" layout-align="center center">
                <div class="create-w-100 pa-bt-CBCBCB mid-sec"></div>
                <div align="center" class="or-circle">
                    <span class="or-text">OR</span>
                </div>
                <md-button ng-click="savedGuestModal()" class="pa-border-CBCBCB pa-border-4 h-48 pa-background-white pa-pl-pr-30">
                    <span class="pa-font-16 pa-color-pink pa-bold-font">Use Saved Guest List</span>
                </md-button>
            </div>
        </div>

    </div>
</div>