<div class="pa-background-white" flex layout="column" layout-align="start stretch">
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div layout="column" layout-align="center center">
            <md-card flex="100" layout-align="center center" class="pa-padding-30">
                <img ng-src="/img/logo-the-promo-app-red.png" style="width: 20%;" class="img-responsive header-logo" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Your are successfully removed as an administrator</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </md-content>

</div>