<div flex layout="column" layout-align="start stretch" class="pa-bg-EEEEEE" >
  <div flex layout-fill class="pa-bg-EEEEEE">
  <div loader working="loading" message="loadingMessage" disable-background="true" class="loader-content"></div>
    <div class="container-wtd-1170 pa-">
      <div class="custom-model-content deleteBankconfirmation leave_check thank_you_parent  ">
          <div class="pa-text-center pa-background-white">
              <div class="rewardpopup-content">
                  <span class="thank_you_icon material-icons " style="color: #C3231B;">
                     cancel
                  </span>
                 <h2>Thank you!</h2>
                  <span  class="thank_youinner">You have successfull reject request to become admin of event.</span>
             </div>
          </div>
      </div>
    </div>
  </div>
</div>