<div class="custom-model-content" ng-controller="BillingInformationController">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Billing Information</span>
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
    </div>
    <div class="modal-body br-EEEEEE">
        <form id="bi-payment-form">
            <div layout="column" layout-align="center center" class="pa-padding-15">
                <div class="pa-font-16 pa-color-333333">Current Card <b>(****{{gateway.last4}})</b></div>
                <md-divider class="pa-width-100p pa-margin-20 pa-color-E4E4E4"></md-divider>
                <div class="pa-font-18 pa-color-333333 pa-bold-font">Update Card</div>
                <div class="pa-mt-20">
                    <md-input-container class="md-block pa-mt-30 pa-mb-40">
                        <label class="pa-font-14 pa-color-333333 pa-modal-font">Credit Card Number</label>
                        <div id="bi-card-element" class="form-control w-300 link-input" placeholder="e.g. 1234 1234 1234 1234"></div>
                        <span class="ab-visa-hide"><i class="fa" id="brand-icon"></i></span>
                    </md-input-container>
                    <div layout="row" class="pa-mt-20">
                        <md-input-container flex="50">
                            <label>Expiry Date</label>
                            <div id="bi-card-expiry" class="form-control link-input w-135" placeholder="06/22"></div>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>CVC</label>
                            <div id="bi-card-cvc" class="form-control link-input w-135" placeholder="e.g.012"></div>
                        </md-input-container>
                    </div>
                </div>
                <md-button type="submit" class="h-48 pa-pink-button w-300 pa-font-16 pa-bold-font" ng-disabled="accountDisablePay || loading">Update Information</md-button>
                <div class="pa-font-16 pa-color-pink mt-10" ng-click="cancel()">Cancel</div>

            </div>
        </form>
    </div>

</div>