<div class="popup-perent rewardtermspopup custom-model-content">
    <div class="modal-header pa-background-white">
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
    </div>
    <div class="modal-body pa-text-center pa-background-white">
        <div class="form-poup-congratulations">
            <div class="order_summary">
                <span class="order_summary_head">Order Summary</span>
                <table>
                    <thead>
                        <tr>
                            <th>Tickets</th>
                            <th>Unit Price</th>
                            <th class="tt-text-right-align ">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span style="background-color: #FFD763;"></span>
                                <p>2 x VVIP</p>
                            </td>
                            <td>$50.00</td>
                            <td>$100.00</td>
                        </tr>
                        <tr>
                            <td><span style="background-color: #38B968;"></span>
                                <p>1 x VIP</p>
                            </td>
                            <td>$25.00</td>
                            <td>$25.00</td>
                        </tr>
                        <tr>
                            <td><span style="background-color: #FF8484;"></span>
                                <p>1 x Platinum</p>
                            </td>
                            <td>$10.00</td>
                            <td>$10.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="top_order_summary_space">
                            <td>Sub Total</td>
                            <td></td>
                            <td>$135.00</td>
                        </tr>
                        <tr>
                            <td>Fees</td>
                            <td></td>
                            <td>$8.00</td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td><b>$143.00</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="checkout_btn_ft_mob">
                <div class="checkout_cart_sec">
                    <div class="checkout_cart_sec_count">
                        <span class="checkout_cart_num"><i class="material-icons">shopping_cart</i> <p>4</p></span>
                        <span class="checkout_cart_amount">$135.00 <i class="material-icons">keyboard_arrow_down</i></span>
                    </div>
                    <div class="checkout_cart_btn">
                        <button class="pa-font-Lato pa-bold-font pa-border-4 tt-font-16 continue md-button">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>