<div class="modal-paypal pa-border-4 pa-f6f6f6-border pa-modal-font pa-pb-20 custom-model-content">
    <div class="modal-header bg-F9F9F9">
        <div class="form-wizard">
            <div class="form-wizard-step active" ng-class="{'active': modalHeaderTextFlag.step1, 'completed': modalHeaderTextFlag.complete1}">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="form-wizard-dot">
                    <md-icon>done</md-icon>
                </div>
                <div class="form-wizard-info">Choose Widget Type</div>
            </div>
            <div class="form-wizard-step" ng-class="{'active': modalHeaderTextFlag.step2, 'completed': modalHeaderTextFlag.complete2}">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="form-wizard-dot">
                    <md-icon>done</md-icon>
                </div>
                <div class="form-wizard-info">Choose Event/s</div>
            </div>
            <div class="form-wizard-step" ng-if="organiserInfosFlag" ng-class="{'active': modalHeaderTextFlag.step3, 'completed': modalHeaderTextFlag.complete3}">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="form-wizard-dot">
                    <md-icon>done</md-icon>
                </div>
                <div class="form-wizard-info">Upload Info</div>
            </div>
            <div class="form-wizard-step" ng-class="{'active': modalHeaderTextFlag.step4, 'completed': modalHeaderTextFlag.complete4}">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="form-wizard-dot">
                    <md-icon>done</md-icon>
                </div>
                <div class="form-wizard-info">Embed Widget</div>
            </div>
        </div>
    </div>
    <div class="modal-body" ng-class="{'eventListView' : eventListFlag}">
        <div class="option-list" ng-if="chooseOptionFlag">
            <div class="widget_list" ng-class="{'listactive':selectedOption == 'buttonView'}" ng-click="optionSelected('button');">
                <span class="icon_widget"><img src="../img/embed-button.svg" alt='image'></span>
                <span class="widget_list_content">
                    <b>Button</b>
                    <p>Add a button that enables users to quickly and easily buy or register for tickets to your events without navigating away from your website.</p>
                </span>
                <span class="widget_check material-icons donewidget_check">done</span>
            </div>

            <div class="widget_list" ng-class="{'listactive':selectedOption == 'detailView'}" ng-click="optionSelected('details');">
                <span class="icon_widget"><img src="../img/embed-detail.svg" alt='image'></span>
                <span class="widget_list_content">
                    <b>Event Detail</b>
                    <p>This widget adds a page that allows event managers to fill in event details with the most necessary information.</p>
                </span>
                <span class="widget_check material-icons donewidget_check">done</span>
            </div>

            <div class="widget_list" ng-class="{'listactive':selectedOption == 'listView'}" ng-click="optionSelected('lists');">
                <span class="icon_widget"><img src="../img/embed-list.svg" alt='image' ></span>
                <span class="widget_list_content">
                    <b>Events List View</b>
                    <p>Get a quick, thorough overview of events by adding a "list view" that allows users to see what's happening in the near future.</p>
                </span>
                <span class="widget_check material-icons donewidget_check">done</span>
            </div>

            <div class="widget_list" ng-class="{'listactive':selectedOption == 'mapView'}" ng-click="optionSelected('map');">
                <span class="icon_widget"><img src="../img/embed-map.svg" alt='image'></span>
                <span class="widget_list_content">
                    <b>Map Showing Events Location</b>
                    <p>Enable users to view all upcoming events in a particular map area at a glance.</p>
                </span>
                <span class="widget_check material-icons donewidget_check">done</span>
            </div>
        </div>
        <div class="event-list" ng-if="eventListFlag">
            <div class="widget_list select_eventSingle" ng-class="{'listactive' : selectedEventlist === event.event_id || event.selected === true}" ng-repeat="event in liveEventsList | filter:{ privacy_type: 1 }" ng-click="selecteEventFromList(eventSelection, event.event_id)">
                <span class="icon_widget"><img ng-src="{{event.event_image || '/img/unnamed.png'}}" alt="{{event.event_name}}"></span>
                <span class="widget_list_content">
                    <b>{{event.event_name}}</b>
                    <ul>
                        <li><i class="material-icons">location_on</i> <p>{{event.state +", "+ event.country}}</p></li>
                        <li><i class="material-icons">date_range</i> <p>{{event.start_date_time | toMoment | momentFormatter:"ddd, MMM D, YYYY, hh:mm a"}}</p></li>
                    </ul>
                </span>
                <span class="widget_check material-icons donewidget_check">done</span>
            </div>
        </div>
        <div class="organiser-info" ng-if="organiserInfoFlag">
            <p class="organiser-info-text">We will use this information to send users helpful emails and alerts related to the ticket details associated with their purchase from the embedded ticket widget.</p>
            <form name="organiserProfile.organiser_info_form" class="event-form pa-no-padding" id="organiser_profile">
                <div class="form-area">
                    <div class="website-logo form-group">
                        <label class="custom-label-form">Website Logo <span class="text-danger">*</span></label>
                        <div class="image-upload-area">
                            <div id="ce-file-upload" name="organiserLogo" class="org-img-upload" ngf-drop ngf-select ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-accept="'image/*'" ng-model="organiser.image" ngf-min-width="300" ngf-min-height="300" ng-show="!showHide.imageSelected && !organiser.image"
                                ngf-change="handleFileSelect($file,$event,$invalidFiles)">
                                <div class="absolute">
                                    <div class="insert-photo-icon pa-display-block">
                                        <md-icon class="material-icons" role="img" aria-label="cloud_upload">cloud_upload</md-icon>
                                    </div>
                                    <div class="pa-text-center pa-color-333333 pa-font-16 pa-mt-4">Drag & Drop or click to add image</div>
                                </div>
                            </div>

                            <md-card-avatar ng-show="!showHide.imageSelected && organiser.image" class="reward-after-crop">
                                <img class="md-user-avatar img-responsive pa-width-100p" alt='image' ng-show="organiser.image" ngf-thumbnail="!organiser.image.$error && organiser.image">
                            </md-card-avatar>

                            <md-card-icon-actions ng-show="!showHide.imageSelected && organiser.image" class="creat-event-action if-reward">
                                <md-icon class="material-icons pa-cursor-pointer" role="img" aria-label="edit" ng-click="editImage('ce-file-upload')">edit</md-icon>
                                <md-icon class="material-icons pa-cursor-pointer cancelled-clor" role="img" aria-label="delete" ng-click="deleteImage()">delete</md-icon>
                            </md-card-icon-actions>
                        </div>
                    </div>
                    <div class="website-name">
                        <md-input-container class="create-w-100 md-icon-float md-icon-left pa-mt-30-imp">
                            <label class="custom-label-form">Website Name <span class="text-danger">*</span></label>
                            <input md-no-asterisk name="websiteName" required type="text" ng-model="organiser.websiteName" class="pa-bootstrap-container form-control pa-border md-input-with-icon" placeholder="e.g. Thepromoapp">
                        </md-input-container>
                    </div>
                    <div class="website-url">
                        <md-input-container class="create-w-100 md-icon-float md-icon-left pa-mt-30-imp pa-mb-0">
                            <label class="custom-label-form">Website URL <span class="text-danger">*</span></label>
                            <input md-no-asterisk name="websiteUrl" required type="url" ng-model="organiser.websiteURL" class="pa-bootstrap-container form-control pa-border md-input-with-icon" placeholder="e.g. http://www.thepromoapp.com" ng-pattern="/^(https?:\/\/)?(www\.)?([a-zA-Z0-9]+(-?[a-zA-Z0-9])*\.)+[\w]{2,}(\/\S*)?$/">
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="widget_footer">
        <!--Back Action-->
        <button class="pa-font-Lato pa-bold-font pa-color-pink pa-background-white tt-font-16 pa-border-4 save-exit exit-back" ng-click="chooseOption('back', selectedOption)" ng-if="backFromListFlag" type="button">Back</button>

        <!-- Cance Action-->
        <button class="pa-font-Lato pa-bold-font pa-color-pink pa-background-white tt-font-16 pa-border-4 save-exit" ng-click="close();resetModal();" type="button">Cancel</button>

        <!-- Continue Steps-->
        <button class="pa-font-Lato pa-bold-font pa-border-4 tt-font-16 continue" ng-disabled="optionDisableFlag" ng-click="chooseOption(modalSteps, selectedOption);" type="button">Continue</button>
    </div>
</div>