<div class="custom-model-content event_claim_confirmation">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Event Claim Confirmation</span>
        <md-icon class="pa-float-right" ng-click="reloadPage()">close</md-icon>
    </div>
    <div class="modal-body pa-text-center pa-background-white">
        <div class="rewardpopup-content pa-pt-15 pb-15">
            <i class="material-icons" style="color: #3FB86B; font-size: 42px;: ">check_circle</i>
            <h2>Event Claimed Successfully!</h2>
            <span>Now you can manage your event. You can find this event in the “Draft” section of “Manage Event” page. In order to publish this event, you’d have to provide the required information.</span>
            <div class="btn-group">
                <md-button ng-click="goToPage('/basicDetails?ev='+event.event_id)">Edit Event</md-button>
                <md-button ng-click="reloadPage()" class="pa-font-Lato pa-bold-font pa-color-pink pa-background-white tt-font-16 pa-border-4 save-exit  md-button md-ink-ripple">View Event Detail</md-button>
            </div>
        </div>
    </div>
</div>