<div class="custom-model-content event_claimed_failed">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Event Claim Failed</span>
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
    </div>
    <div class="modal-body pa-text-center pa-background-white">
        <div class="rewardpopup-content">
           <i class="material-icons" style="color: #C3231B;">cancel</i>
           <h2>Event Claim Failed !</h2>
           <div class="btn-group"> 
           <md-button ng-click="cancel()">Close</md-button>
           </div>
       </div>
    </div>
</div>