<div class="custom-model-content deleteBankconfirmation">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 cancelled-clor pa-bold-font pa-modal-font">Delete Bank Confirmation</span>
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
    </div>
    <div class="modal-body pa-text-center pa-background-white">
        <div class="rewardpopup-content">
            <h2>Are you sure ?</h2>
            <br/>
            <div class="btn-group">
                <md-button ng-click="deleteBankInfo(stripe_bank_id)">Yes</md-button>
                <md-button ng-click="cancel()" class="pa-font-Lato pa-bold-font pa-color-pink pa-background-white tt-font-16 pa-border-4 save-exit md-button  md-ink-ripple">No</md-button>

            </div>
        </div>
    </div>
</div>