
<div>
    <div ng-hide="value" class="mobile-header display-flex-mob tersm _mobileheade">
        <span class="back-btn-mobile">
            <a back-to-history><i class="material-icons">arrow_back_ios</i></a>
        </span>
    </div>
    <section class="contact-banner">
        <div class="contact-ban-details">
            <div class="contact-head">The Promo App</div>
            <div class="contact-sub-head">235 West 23rd street, New York, NY 10011, United States</div>
            <a target="blank" href="https://goo.gl/maps/HEJRjdxLDw3Z145M6" class="gt-dir">Get directions</a>
        </div>
    </section>


    <section class="contact-para">
        <p>The Promo App is an event-based social network that tracks over <b>30 million</b> events worldwide!</p>
        <p>By signing up, users can browse a live feed of public events with real-time event information, or create and share their own events.</p>
    </section>

    <section class="th-organisign">
        <h3 class="hd">Thinking of organising an event?</h3>
        <div class="contact-bx-wrap">
            <div class="contactbx lt">
                <span class="hq">Talk to an expert</span>
                <h4>George O’Neil</h4>
                <a href="tel:1 929 299-3999"><i class="material-icons">phone</i> +1 929 299-3999</a>
                <a href="mailto:sales@thepromoapp.com"><i class="material-icons">mail</i> sales@thepromoapp.com</a>
            </div>
            <div class="contactbx rt">
                <span class="hq">Promo Help Center</span>
                <p>Check out our extensive help tutorials to help you create and publish your event.</p>
                <md-button ng-href="https://promo.helpdocs.com/" type="button" target="_blank" class="pa-pl-pr-30 pa-pink-button ht-48 pa-no-margin md-button md-ink-ripple help-button"><b>Visit Help Center</b></md-button>
            </div>
        </div>
    </section>

</div>
