<div class="modal-paypal pa-border-4 pa-f6f6f6-border pa-modal-font pa-pb-20 custom-model-content">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Events List</span>
        <md-icon class="pa-float-right" ng-click="close()">close</md-icon>
    </div>
    <div class="modal-body">
        <div class="event-list">
            <h3 ng-if="eventList.length == 0" class="event-list-no-data"> No Event Found </h3>
            <div class="widget_list select_eventSingle" ng-if="eventList.length > 0" ng-class="{'listactive' : event.selected == true}" ng-repeat="event in eventList" ng-click="selecteEventFromList(event.event_id)">
                <span class="icon_widget"><img ng-src="{{event.event_image || '/img/unnamed.png'}}" alt="{{event.event_name}}"></span>
                <span class="widget_list_content">
                    <b>{{event.event_name}}</b>
                    <ul>
                        <li><i class="material-icons">location_on</i> <p>{{event.state +", "+ event.country}}</p></li>
                        <li><i class="material-icons">date_range</i> <p>{{event.start_date_time | toMoment | momentFormatter:"ddd, MMM D, YYYY, hh:mm a"}}</p></li>
                    </ul>
                </span>
                <span class="widget_check material-icons donewidget_check">done</span>
            </div>
        </div>
    </div>
    <div class="widget_footer">
        <!-- Cance Action-->
        <button class="pa-font-Lato pa-bold-font pa-color-pink pa-background-white tt-font-16 pa-border-4 save-exit exit-back" ng-click="resetModal();" type="button">Cancel</button>

        <!-- Continue Steps-->
        <button class="pa-font-Lato pa-bold-font pa-border-4 tt-font-16 continue" ng-disabled="eventList.length == 0 || valuesData.length == 0" ng-click="getEventSelected()" type="button">Apply</button>
    </div>
</div>