
<div class="landingHome price_parent">
    <section class="about-banner">
        <div class="container-wtd-1100">
            <div class="banner-head">Promo App Pricing</div>
            <span class="back-btn-mobile-about">
                <!-- <a style="font-size: 14px;" back-to-history><i class="material-icons pa-color-FFFFFF">arrow_back_ios</i></a> -->
            </span>
        </div>
    </section>
    <section class="pricing_list_section">
        <div class="price_list_child">
            <div class="price_list-head">
                Promo App Features
            </div>
            <div class="plan-content">
                <div class="row">
                    <div class="col-md-6 pa-font-600">Fee Per Ticket *</div>
                    <div class="col-md-6 br-l"><b>FREE</b></div>
                </div>

                <div class="row">
                    <div class="col-md-6 pa-font-600">Social Event Promotion</div>
                    <div class="col-md-6 br-l">Yes</div>
                </div>


                <div class="row">
                    <div class="col-md-6 pa-font-600">Ticketing & Tracking</div>
                    <div class="col-md-6 br-l">Yes</div>
                </div>



                <div class="row">
                    <div class="col-md-6 pa-font-600">Payout Basic Reports</div>
                    <div class="col-md-6 br-l">Yes</div>
                </div>


                <div class="row">
                    <div class="col-md-6 pa-font-600">Invite Guests</div>
                    <div class="col-md-6 br-l">Yes</div>
                </div>

                <div class="row">
                    <div class="col-md-6 pa-font-600">Claim Events</div>
                    <div class="col-md-6 br-l"><b>FREE</b></div>
                </div>

                <div class="row">
                    <div class="col-md-6 pa-font-600">Customer Support</div>
                    <div class="col-md-6 br-l">Online help center</div>
                </div>
            </div>
        </div>
        <div class="pro_plan">
            Promote your event by Sponsoring the it in just <b>$2.99</b> <span>(Optional)</span>
        </div>
        <div class="priceing_add_content">
            <b> * Promo app does not charge any ticketing processing fees directly.</b> A small fee of 2.9% + $0.49 is charged directly by the payment gateway.
        </div>
        <a href="/" class="pa-pl-pr-30 pa-pink-button ht-48 pa-no-margin md-button md-ink-ripple">Get Started Now</a>
    </section>

    <section class="organizers-slider bg-white">
        <h2> Here’s What Other Event Organizers Are Saying</h2>
        <div class="container">
            <div class="slider-perent">
                <div class="sliderquote next">
                    <img src="img/ne.png?v3">
                </div>
                <div class="box-container" ng-controller="EventOrganiserController">
                    <ui-carousel slides="slides2" slides-to-show="1" slides-to-scroll="1" initial-slide="0" dots="true">
                        <!-- For slider render -->
                        <carousel-item>
                            <!-- placed your item content here -->
                            <p>{{ item.content }}</p>
                            <span><b>{{item.nameslider}}</b> {{item.Cityslider}}</span>
                            <!-- end -->
                        </carousel-item>

                        <!-- For customize carousel next, previous button -->
                    </ui-carousel>
                </div>
                <div class="sliderquote prev">
                    <img src="img/per.png?v3">
                </div>
            </div>
        </div>
    </section>
    <section class="charge-events">
        <div class="container">
            <h2>Take Charge of Your Events</h2>
            <div class="row">
                <div class="col-md-5">
                    <div class="charge-events-content">
                        <span>We’re tracking over <i>30 million events worldwide!</i> Don’t get left behind.</span>
                        <a href="/createevent"><button class="pa-pl-pr-30 pa-pink-button ht-48 pa-no-margin md-button md-ink-ripple"><b>Start Listing Your Event</b></button>
              </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="charge-events-img">
                        <img src="img/map-im.png" alt="map">
                    </div>
                </div>

            </div>
        </div>
    </section>




</div>
