<div class="custom-model-content deleteBankconfirmation leave_check">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-normal-font-imp pa-modal-font">Publish Event?</span>
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
    </div>
    <div class="modal-body pa-text-center pa-background-white">
        <div class="rewardpopup-content">
            <h2 class="pa-normal-font-imp">Are You Sure you want to Publish Event? This event you've selected it will be publish and show into Live event list.</h2>
            <br/>
            <div class="btn-group pa-mb-15 pa-width-100">
                <md-button ng-click="cancel()" class="pa-font-Lato pa-bold-font pa-color-pink pa-background-white tt-font-16 pa-border-4 save-exit md-button md-ink-ripple">Cancel</md-button>
                <md-button ng-click="startStopEvent(status,eventId,ticket_type);cancel();" class="pa-pl-pr-20 pa-font-Lato tt-font-16 pa-border-4">Publish Event</md-button>
            </div>
        </div>
    </div>
</div>