<div flex layout="column" layout-align="start stretch">
    
    <div class="pa-background-E">
        <div class="container layout-align-start-stretch tt-media-mt-20">
            <div class="inner-div-style">
                <div loader working="loading" message="loadingMessage" disable-background="true" class="loader-content "></div>

                <div class="pa-modal-font modal-md tt-main-screen-padding ">
                    <div class="row">
                        <div class="col-md-12 tt-media-center-align">
                            <a href="/eventCheckins?ev={{event.event_id}}">
                                <i class="material-icons pa-vertical-align tt-mr-10 tt-media-font-18 pa-font-bold cursor-pointer tt-media-arrow-left pa-color-pink hidden-lg hidden-xl">keyboard_arrow_left</i>
                            </a>
                            <p class="pa-color-5B5B5B pa-modal-font pa-font-24 pa-bold-font tt-media-font-18 tt-media-color-3B373C">
                                Scan QR Code</p>
                        </div>
                    </div>
                    <div class="row hidden-xs hidden-md hidden-sm">
                        <div class="col-md-12">
                            <a href="/eventCheckins?ev={{event.event_id}}">
                                <p class="pa-color-2F2A2B pa-modal-font pa-font-14 pa-cursor-pointer">
                                    <i class="material-icons pa-vertical-align pa-color-3B373C tt-mr-10 pa-font-18">keyboard_arrow_left</i> Back to Manage Events
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="tt-main-qr-div pa-border-4">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 pa-text-center">
                                <p class="pa-color-5B5B5B pa-font-24 tt-media-font-18 pa-bold-font">Simply point the camera to the desired QR Code</p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row pa-mt-20">
                            <div class="col-md-1"></div>
                            <div ng-if="!allowDeviceCopyURL" class="col-md-10 pa-text-center">
                                <!-- here-->
                                <div ng-if="showScanner" class="tt-mb-50 tt-ml-10 embed-responsive embed-responsive-4by3">
                                    <video ng-init="doTheScan()" id="preview" class="img-responsive tt-video" autoplay="autoplay"></video>
                                </div>
                            </div>
                            <div class="pa-text-center" ng-if="allowDeviceCopyURL">
                                <h3>Please copy this URL! Open in your browser.</h3>
                                <br />
                                <input style="width:45%; height:30px;" readonly id="scanPageURL" ng-value=scanPageURL />
                                <br />
                                <br />
                                <button ng-click="copyScanPageURL()" class="pa-add-event"><i class="fa fa-clone tt-mr-10"></i>{{URLCopied ? 'Copied':'Copy URL'}}</button>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <div class="tt-helper-text pa-background-white tt-media-mb-50 pa-mt-40">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="pa-color-5B5B5B pa-modal-font tt-font-19 tt-media-font-18 pa-bold-font">How to Scan Your QR Code</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p class="pa-color-5B5B5B pa-modal-font pa-font-16 tt-media-font-14">Open your camera app and hold your device over the QR code. Hold your phone steady for 2 - 3 seconds, making sure to capture the full code on your screen.
                                </p>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row ">
                            <div class="col-md-8">
                                <p class="pa-color-5B5B5B pa-modal-font pa-font-16 tt-media-font-14">When you scan a QR code with us for the first time, you'll be asked to give our QR scanner permission to access the camera app on your mobile device. After that, you'll be able to scan any new QR codes without any additional
                                    security prompts.</p>
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                    </div>
                </div>
                <!-- <button class="btn btn-primary" ng-click="openQrModal(false)">
                        Open modal
                    </button> -->


            </div>
        </div>
    </div>
    
</div>