<div class="custom-model-content">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Unsaved Changes Detected</span>
        <md-icon ng-click="changeSeatLayoutToTicket(false);cancel();" class="pa-float-right">close</md-icon>
    </div>
    <div class="modal-body pa-no-padding">
        <span class="detected_changes_sec">
            Are your sure you want to change the seat layout? It will remove all the seating and ticket created earlier.
        </span>
    </div>
    <div class="modal-footer pa-border-EEEEEE">
        <md-toolbar class="pa-modal-footer-height-toolbar tc_new_free_event">
            <div class="md-toolbar-tools">
                <button ng-click="changeSeatLayoutToTicket(false);cancel();" class="pa-font-Lato pa-bold-font pa-color-pink pa-background-white tt-font-16 pa-border-4 save-exit" type="button">No</button>
                <button ng-click="changeSeatLayoutToTicket(true);cancel();" class="pa-font-Lato pa-bold-font pa-border-4 tt-font-16 continue md-button" type="button">Yes</button>
            </div>
        </md-toolbar>
    </div>
</div>