<div flex layout="column" layout-align="start stretch" class="pa-bg-EEEEEE mobile-hide">
    
    <div flex class="container-wtd-1170 profile_setting">
        <div loader working="loading" message="loadingMessage" disable-background="true" class="loader-content"></div>
        <div class="text-head">
            <a href="/myprofile" class="back-to-btn"><i class="material-icons">navigate_before</i> Back to My Profile</a>
        </div>
        <div class="organizer-profile organizer-profile-desktop-view pa-mb-15">
            <div class="event-interested-sub br-bt-none">Edit My Profile</div>
            <div class="profile-edit-img">
                <span class="profile-img">
                    <img class="profile-img" ng-show="user.imgUrl && !editPhoto" ng-src="{{user.imgUrl}}" />
                    <img class="profile-img" ng-show="!user.imgUrl &&  !editPhoto" src="../img/defaultProfilePic.png" />
                    <img class="profile-img" ng-show="files && editPhoto" ng-src="{{files}}" />
                </span>
                <span class="edit-photo" ngf-select ngf-multiple="false" ngf-pattern="'image/*'" ngf-accept="'image/*'" ng-model="files" ngf-change="handleFileSelect( $file,$event,$invalidFiles)"><i class="material-icons">edit</i> Edit Photo </span>
            </div>
            <div class="profile-edit-form">
                <form name="forms.editUser" class="event-form create-w-100 pa-no-padding">
                    <md-input-container class="form-group half-field pa-mt-30-imp" flex-gt-sm>
                        <label>First Name <span class="pa-required">*</span></label>
                        <input md-no-asterisk ng-model="editUser.firstName" name="firstName" md-maxlength="25" maxlength="25" type="text" class="form-control" required>
                        <div ng-messages="forms.editUser.firstName.$error" class="input-error">
                            <div ng-message="required">This field is required.</div>
                            <div ng-message="md-maxlength">First Name must be less than 25 characters long.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="form-group half-field pa-mt-30-imp" flex-gt-sm>
                        <label>Last Name <span class="pa-required">*</span></label>
                        <input md-no-asterisk ng-model="editUser.lastName" name="lastName" md-maxlength="25" maxlength="25" type="text" class="form-control" required>
                        <div ng-messages="forms.editUser.lastName.$error" class="input-error">
                            <div ng-message="required">This field is required.</div>
                            <div ng-message="md-maxlength">Last Name must be less than 25 characters long.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="form-group full-field pa-mt-30-imp" flex-gt-sm>
                        <label>Email ID <span class="pa-required">*</span></label>
                        <input md-no-asterisk ng-model="editUser.email" name="email" type="text" class="form-control" ng-pattern="/^[^+\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                        <div ng-messages="forms.editUser.email.$error" class="input-error">
                            <div ng-message="required">This field is required.</div>
                            <div ng-message="pattern">Invalid email address.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="form-group full-field pa-mt-30-imp" flex-gt-sm>
                        <label>City <span class="pa-required">*</span> <a ng-click="getCurrentPos()" class="input-link pa-pointer-events-all" placeholder="{{locationPlaceholder}}"> Detect My City</a></label>
                        <input md-no-asterisk ng-model="editUser.city" name="city" googleplace type="text" class="form-control" required>
                        <div ng-messages="forms.editUser.city.$error" class="input-error">
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="form-group full-field pa-mt-30-imp" flex-gt-sm>
                        <label>About Me</label>
                        <textarea class="form-control" md-maxlength="{{aboutCount}}" maxlength="{{aboutCount}}" ng-model="editUser.aboutYou"></textarea>
                    </md-input-container>
                    <div class="profile-edit-form-btn pa-row-eq-height">
                        <md-button class="pa-pink-button pa-no-margin" ng-click="updateUser();!enableUpdate" ng-disabled="!forms.editUser.$valid">Save Changes</md-button>
                        <button ng-click="goToPage('/myprofile')" class="cancel-btn">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <script type="text/ng-template" id="cropImage.html">
            <md-dialog aria-label="Crop Image" class="pa-crop-dialog border-top-E4E4E4">
                <md-toolbar class="pa-bg-FFFFFF">
                    <div class="md-toolbar-tools">
                        <div class="pa-font-24 pa-color-333333 pa-bold-font text-center" flex>Crop Image</div>
                        <md-button class="md-icon-button" ng-click="closeDialog('close')">
                            <md-icon aria-label="Close dialog">close</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content class="pa-bg-FFFFFF border-top-E4E4E4">
                    <div class="md-dialog-content pa-background-E pa-border-4 border-crop " style="width:1200px;height:400px;">
                        <ui-cropper class="pa-pos-fixed" image="imageForCropping" result-image="croppedImage" area-type="circle" area-min-size="100" area-init-size="200"></ui-cropper>
                    </div>
                </md-dialog-content>

                <md-dialog-actions class="br-btm-E4E4E4" layout="row">
                    <span flex="30">   
                        <md-button class="pa-float-right" ng-click="closeDialog('close')"> 
                            <md-icon class="pa-font-16 pa-color-pink pa-vertical-align-sub">arrow_back_ios</md-icon> 
                            <span class="pa-font-16 pa-color-pink pa-bold-font">Back</span>
                    </md-button>
                    </span>

                    <span flex="45"></span>
                    <span flex>
                        <md-button class="pa-pink-button ht-48 pa-bold-font pa-pl-pr-30" ng-click="closeDialog('save')">
                            Save & Continue
                        </md-button>
                    </span>
                </md-dialog-actions>

            </md-dialog>
        </script>
    </div>
</div>

<!-- Mobile view -->
<div flex layout="column" layout-align="start stretch" class="pa-background-white desktop-hide" ng-if="isMobile.matches">
    <div loader working="loading" message="loadingMessage" disable-background="true" class="loader-content"></div>
    <div class="create-new-event pos-r mobile-edit" ng-show="!imageSelected">
        <div class="mobile-header">
            <span class="cancel-mobile">
                <a back-to-history>Cancel</a>
            </span>
            <h2 class="pdt-right-30">Edit Profile</h2>
        </div>

        <div class="edit-profile-img-my-profile-mob">
            <img ng-show="user.imgUrl && !editPhoto" ng-src="{{user.imgUrl}}" />
            <img ng-show="!user.imgUrl &&  !editPhoto" src="../img/defaultProfilePic.png" />
            <img ng-show="files && editPhoto" ng-src="{{mfiles}}" />
            <a class="link-mob" ngf-select ngf-multiple="false" ngf-pattern="'image/*'" ngf-accept="'image/*'" ng-model="files" ngf-change="handleFileSelect( $file,$event,$invalidFiles)"><i class="material-icons">edit</i> Edit Photo</a>
        </div>
        <div class="mobile-form">
            <form name="forms.editUser" class="event-form edit-user-profile-mob create-w-100 pa-no-padding">
                <md-input-container class="form-group full-field mobile-edit">
                    <label>First Name <span class="pa-required">*</span></label>
                    <input md-no-asterisk ng-model="editUser.firstName" name="firstName" md-maxlength="25" type="text" class="form-control pa-font-600 pa-lh-15" required>
                    <div ng-messages="forms.editUser.firstName.$error" class="input-error">
                        <div ng-message="required">This field is required.</div>
                        <div ng-message="md-maxlength">First Name must be less than 25 characters long.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="form-group full-field mr-top-20 mobile-edit">
                    <label>Last Name <span class="pa-required">*</span></label>
                    <input md-no-asterisk ng-model="editUser.lastName" name="lastName" md-maxlength="25" type="text" class="form-control pa-font-600 pa-lh-15" required>
                    <div ng-messages="forms.editUser.lastName.$error" class="input-error">
                        <div ng-message="required">This field is required.</div>
                        <div ng-message="md-maxlength">Last Name must be less than 25 characters long.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container ng-if="editUser.mobile_number" class="form-group full-field mr-top-20">
                    <label>Email Address <span class="pa-required">*</span></label>
                    <input md-no-asterisk ng-model="editUser.email" name="email" type="text" class="form-control pa-font-600 pa-lh-15" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                    <div ng-messages="forms.editUser.email.$error" class="input-error">
                        <div ng-message="pattern">Invalid email</div>
                    </div>
                </md-input-container>

                <md-input-container ng-if="!editUser.mobile_number" class="form-group full-field mr-top-20">
                    <label>Email Address <span class="pa-required">*</span></label>
                    <input md-no-asterisk ng-model="editUser.email" name="email" type="text" class="form-control pa-font-600 pa-lh-15" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                    <div ng-messages="forms.editUser.email.$error" class="input-error">
                        <div ng-message="required">This field is required.</div>
                        <div ng-message="pattern">Invalid email</div>
                    </div>
                </md-input-container>

                <md-input-container class="form-group full-field mr-top-20">
                    <label class="wtd-100">City <span class="pa-required">*</span><a ng-click="getCurrentPos()" class="input-link pa-pointer-events-all detect-city-mob" placeholder="{{locationPlaceholder}}"> Detect My City</a></label>
                    <input md-no-asterisk ng-model="editUser.city" name="city" googleplace type="text" class="form-control pa-font-600 pa-lh-15" required>
                    <div ng-messages="forms.editUser.city.$error" class="input-error">
                        <div ng-message="required">This field is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="form-group full-field mr-top-20">
                    <label>About Me</label>
                    <textarea class="form-control pa-color-333333-imp pa-font-600 pa-lh-15" md-maxlength="{{aboutCount}}" maxlength="{{aboutCount}}" placeholder="Add description here" ng-model="editUser.aboutYou"></textarea>
                </md-input-container>
            </form>
        </div>

        <div class="pa-sticky-footer">
            <div class="mobile-full-btn-ft">
                <a ng-click="updateUser();!enableUpdate" ng-disabled="!forms.editUser.$valid" ng-class="forms.editUser.$valid?'bg-theme-btn':'gray-btn'">Save Changes</a>
            </div>
        </div>
    </div>

    <div class="mobile-ticket-details" ng-show="imageSelected">
        <div class="mobile-header">
            <span class="back-btn-mobile">
                <a ng-click="revertImage()"><i class="material-icons">arrow_back_ios</i></a>
            </span>
            <h2 class="pd-right-32">Crop Image</h2>
        </div>
        <div class="crop-background-img-mob">
            <div class="md-dialog-content border-crop e-cover-img-mobile">
                <img-crop class="pa-pos-fixed" image="myImage" result-image="croppedImage" area-type="circle" result-image-size="'max'" area-min-size="81" change-on-fly="true"></img-crop>
            </div>
        </div>

        <div class="crop-btn-group">
            <div class="draft-cancel-btn">
                <a ng-click="revertImage()" class="border-btn">Cancel</a>
                <a ng-click="selectImage(true)" class="theme-bg-btn">Save</a>
            </div>
        </div>
    </div>
</div>