<div flex layout="column" layout-align="start stretch" class="pa-bg-white" ng-class="value === true? '': 'accordion-terms-mobile'">
    
    <div class="container pa-pl-pr-0 mobile-width-100p layout-align-start-stretch flex">
        <div ng-hide="value" class="mobile-header display-flex-mob tersm _mobileheade">
            <span class="back-btn-mobile">
                <a back-to-history><i class="material-icons">arrow_back_ios</i></a>
            </span>
        </div>
        <h1 class="terms_head">Site Map</h1>
        <div class="site_map_wrap row mb-30">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>General Information</h3>
                <ul class="sd_navigation st_navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/event_organiser">Event Organiser</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/myprofile">Account Information</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                    <li><a href="/terms_of_use">Terms of Use</a></li>
                    <li><a href="/cookies_policy">Cookie Policy</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.thepromoapp.promo" target="_blank">PromoApp Android App</a></li>
                    <li><a href="https://apps.apple.com/us/app/promo-see-whats-going-on-around/id1075964954" target="_blank">PromoApp iOS App</a></li>
                    <li><a href="/blog">PromoApp Blog</a></li>
                    <li><a href="https://promo.helpdocs.com/" target="_blank">PromoApp Help</a></li>
                </ul>
                <h3>Account Management</h3>
                <ul class="sd_navigation st_navigation">
                    <li><a href="/login">Do you want to Login?</a></li>
                    <li><a href="/forgotpassword">Forgot your password?</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>Holding Events</h3>
                <ul class="sd_navigation st_navigation">
                    <li><a href="https://promo.helpdocs.com/getting-started/how-can-i-get-started-with-promo" target="_blank">Getting Started</a></li>
                    <li><a href="https://promo.helpdocs.com/how-to-use-thepromoapp" target="_blank">How PromoApp Works</a></li>
                    <li><a href="https://promo.helpdocs.com/how-to-use-our-ticketing-feature/how-do-i-create-and-sell-tickets-for-my-event" target="_blank">Sell Tickets For Event</a></li>
                    <li><a href="https://promo.helpdocs.com/how-to-use-thepromoapp/how-do-create-an-account-on-thepromoapp" target="_blank">Online Registration</a></li>
                    <li><a href="https://promo.helpdocs.com/payment-information/three-payment-methods-within-the-promo-app" target="_blank">Accept Payment Methods Within the PromoApp</a></li>
                </ul>
                <h3>Find & Attend Events</h3>
                <ul class="sd_navigation st_navigation">
                    <li><a href="/searchuser">Search Events</a></li>
                    <li><a href="https://promo.helpdocs.com/features" target="_blank">Help In Attending Events</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>Public Category Events</h3>
                <ul class="sd_navigation st_navigation">
                    <li><a href="/category">Explore Categories</a></li>
                    <li><a href="/category/concerts">Concerts Events</a></li>
                    <li><a href="/category/festivals">Festivals Events</a></li>
                    <li><a href="/category/performing-arts">Performing Arts Events</a></li>
                    <li><a href="/category/community">Community Events</a></li>
                    <li><a href="/category/sports">Sports Events</a></li>
                    <li><a href="/category/politics">Politics Events</a></li>
                    <li><a href="/category/university-college">University Events</a></li>
                    <li><a href="/category/eats-drinks">Eats & Drinks Events</a></li>
                    <li><a href="/category/live-music">Live Music Events</a></li>
                    <li><a href="/category/open-mic-night">Open Mic night</a></li>
                    <li><a href="/category/happy-hour">Happy Hour Events</a></li>
                    <li><a href="/category/food-truck">Food Truck Events</a></li>
                    <li><a href="/category/karaoke">Karaoke Events</a></li>
                    <li><a href="/category/art-and-craft">Art and Craft Events</a></li>
                    <li><a href="/category/educational-conferences-workshops">Educational Conferences & Workshops Events</a></li>
                    <li><a href="/category/live-streaming-music">Live-Streaming Music Events</a></li>
                    <li><a href="/category/online-events-calendar">Online Events Calendar</a></li>
                    <li><a href="/category/tech-events">Tech Events</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>