<div class="custom-model-content">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Make payment</span>
        <md-icon class="pa-float-right" ng-click="close()">close</md-icon>
    </div>
    <div class="modal-body br-EEEEEE">
        <form id="bi-payment-form">
            <div layout="column" layout-align="center center" class="pa-padding-15">
                <div class="custom_section_check_seat" ng-if="gatewayID">
                    <div class="form-group">
                        <label class="check-promo">
                            <input class="checkhour" ng-model="currentSavedChecked" type="checkbox" ng-click="currentSavedUncheced()" ng-checked="currentSavedChecked">
                            <span class="check-ui"></span>
                            <span class="chec-category">Current Card <b>(****{{gateway.last4}})</b></span>
                        </label>
                    </div>
                </div>
                <md-divider class="pa-width-100p pa-margin-20 pa-color-E4E4E4" ng-if="gatewayID && !currentSavedChecked"></md-divider>
                <div class="pa-font-18 pa-color-333333 pa-bold-font" ng-if="!gatewayID">Add Card Details</div>
                <div class="pa-font-18 pa-color-333333 pa-bold-font" ng-if="!currentSavedChecked">Add New Card Details</div>
                <div class="pa-mt-20" ng-if="!gatewayID && currentSavedChecked">
                    <md-input-container class="md-block pa-mt-30 pa-mb-40">
                        <label class="pa-font-14 pa-color-333333 pa-modal-font">Credit Card Number</label>
                        <div id="bi-card-element" class="form-control w-300 link-input" placeholder="e.g. XXXX XXXX XXXX 1234"></div>
                        <span class="ab-visa-hide"><i class="fa" id="brand-icon"></i></span>
                    </md-input-container>
                    <div layout="row" class="pa-mt-20">
                        <md-input-container flex="50">
                            <label>Expiry Date</label>
                            <div id="bi-card-expiry" class="form-control link-input w-135" placeholder="06/22"></div>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>CVC</label>
                            <div id="bi-card-cvc" class="form-control link-input w-135" placeholder="e.g.012"></div>
                        </md-input-container>
                    </div>
                    <div class="custom_section_check_seat pa-mt-0">
                        <div class="form-group">
                            <label class="check-promo">
                                <input class="checkhour" ng-model="wantToSaveCard" type="checkbox" ng-checked="wantToSaveCard">
                                <span class="check-ui"></span>
                                <span class="chec-category">Save the Credit Card Deatails.</span></b>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="pa-mt-20" ng-show="!currentSavedChecked">
                    <md-input-container class="md-block pa-mt-30 pa-mb-40">
                        <label class="pa-font-14 pa-color-333333 pa-modal-font">Credit Card Number</label>
                        <div id="bi-card-element1" class="form-control w-300 link-input" placeholder="e.g. XXXX XXXX XXXX 1234"></div>
                        <span class="ab-visa-hide"><i class="fa" id="brand-icon"></i></span>
                    </md-input-container>
                    <div layout="row" class="pa-mt-20">
                        <md-input-container flex="50">
                            <label>Expiry Date</label>
                            <div id="bi-card-expiry1" class="form-control link-input w-135" placeholder="06/22"></div>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>CVC</label>
                            <div id="bi-card-cvc1" class="form-control link-input w-135" placeholder="e.g.012"></div>
                        </md-input-container>
                    </div>
                    <div class="custom_section_check_seat pa-mt-0">
                        <div class="form-group">
                            <label class="check-promo">
                                <input class="checkhour" ng-model="wantToSaveCard" type="checkbox" ng-checked="wantToSaveCard">
                                <span class="check-ui"></span>
                                <span class="chec-category">Save the Credit Card Deatails.</span></b>
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="h-48 pa-pink-button w-300 pa-font-16 pa-bold-font md-button md-ink-ripple" ng-disabled="accountDisablePay || loading" ng-click="cancel();">Make Payment & Publish</button>
                <div class="pa-font-16 pa-color-pink mt-10" ng-click="close()">Cancel</div>
            </div>
        </form>
    </div>
</div>