<div class="popup-perent rewardtermspopup  custom-model-content">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Choose Seating Layout </span>
        <md-icon ng-click="cancel()" class="pa-float-right">close</md-icon>
    </div>
    <div class="modal-body pa-text-center pa-background-white">
        <div class="tc_option_preview">
            <img src="../img/preview.png">
        </div>
    </div>
</div>