<div class="popup-perent rewardtermspopup custom-model-content tc-price-detail-mobile">
    <div class="modal-header">
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font"><b>View Price Details</b> </span>
    </div>
    <div class="modal-body pa-text-center pa-background-white">
        <div ng-repeat="ticket in ticketDetails.tickets_details">
            <div class="tc-title">{{ticket.ticket_title}}</div>
            <div class="tc-price-content">
                <div class="rows">
                    <div class="tc-price-lable">Ticket Quantity</div>
                    <div class="tc-price-value">{{ticket.qty}}</div>
                </div>
                <div class="rows">
                    <div class="tc-price-lable">Price per Ticket</div>
                    <div class="tc-price-value">${{ticket.price | number : 2}}</div>
                </div>
            </div>
        </div>

        <hr>
        <div class="tc-title">Total</div>
        <div class="tc-price-content">
            <div class="rows">
                <div class="tc-price-lable">Ticket Quantity</div>
                <div class="tc-price-value">{{ticketDetails.ticket_qty}}</div>
            </div>
            <div class="rows">
                <div class="tc-price-lable">Price Paid</div>
                <div class="tc-price-value">${{ticketDetails.total_amount | number : 2}}</div>
            </div>
        </div>
    </div>
</div>