<div class="custom-model-content unpublish-popup tc-reason-popup">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Cancel Ticket</span>
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
    </div>
    <div class="modal-body pa-text-center pa-background-white">
        <div class="rewardpopup-content text-center">
            <span>We're sorry this event didn't work out for you</span>

            <label>Please let us know the reason for cancellation.</label>
            <textarea placeholder="Type your message here." class="w-400 form-control pa-border pa-color-333333 pa-mt-0 autosize pa-button-font-size" ng-model="cancelReason" style="min-height: 48px;"></textarea>
        </div>
        <div class="profile-edit-form-btn">
            <div class="btn-group">
                <md-button ng-disabled="cancelReason ==''" ng-click="cancelTicket(cancelReason)" class="pa-pink-button pa-no-margin md-button md-ink-rippl">Cancel Ticket</md-button>
            </div>
        </div>
    </div>
</div>