<div class="custom-model-content">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Ticket Confirmation</span>
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
    </div>
    <div class="modal-body br-EEEEEE">
        <div layout="column" layout-align="center center" class="pa-padding-15">
            <md-icon class="pa-color-38B968 pa-font-64 check-hw">check_circle</md-icon>
            <div class="pa-color-333333 pa-font-28 pa-mt-16 pa-bold-font">Order Complete</div>
            <div class="pa-color-666666 pa-font-17 mt-10">See you at the event!</div>
        </div>
        <div layout="row">
            <div flex="20"></div>
            <div flex="40">
                <a ng-href="/tickets"><md-button class="h-48 pa-pink-button w-184 pa-font-16 pa-bold-font">View Your Ticket</md-button></a>
            </div>
            <div flex="30">
                <md-button ng-href="/" class="h-48 pa-border-CBCBCB pa-background-white pa-color-pink w-150 pa-font-16 pa-bold-font line-ht-48">Go to Home</md-button>
            </div>
            <div flex="20"></div>
        </div>
    </div>

</div>