<div class="pa-modal-font">
    <div class="modal-header bg-F9F9F9" style="border-radius: 6px 6px 0 0;">
        <span class="custom-row pa-ml-10 pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">View Invited Administrator History</span>
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
    </div>
    <div class="pa-padding-15 auto-scroll">
        <table class="table table-striped pa-no-margin">
            <thead>
                <tr>
                    <th width="10">#</th>
                    <th width="60">Email</th>
                    <th width="30">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="admins in invitedList track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{admins.email}}</td>
                    <td><span class="label pa-font-14" ng-class="{'label-success': admins.status == 'Accepted', 'label-default': admins.status == 'Pending', 'label-danger': admins.status == 'Rejected'}">{{admins.status}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>