<div class="loader" data-ng-show="working" style="position: fixed;top: 0px;bottom: 0px;left: 0px;right: 0px;height: 100% !important;width: 100% !important;">
    <div style="position: absolute;top: 50%;left: 50%;line-height: 1;max-width: 50%;padding: 0;color: #333333;text-transform: uppercase;text-align: center;word-break: break-word;z-index: 1;display: inline-flex;flex-flow: column;align-items: center;">
        <div class="gradient-spinner"></div>
        <p data-ng-bind="message"></p>
    </div>
</div>