<div flex layout="column" layout-align="start stretch" class="pa-bg-EEEEEE" ng-controller="SignupController">
<div flex layout-fill class="pa-bg-EEEEEE">
<div loader working="loading" message="loadingMessage" disable-background="true" class="loader-content"></div>
<div class="container-wtd-1170 pa-">
<div class="custom-model-content deleteBankconfirmation leave_check thank_you_parent  ">
    <div class="pa-text-center pa-background-white">
        <div class="rewardpopup-content">
          
            <span class="thank_you_icon material-icons">
               check_circle
            </span>
           <h2>Thank you!</h2>
            <span  class="thank_youinner">Your tickets will be sent to your email address “{{user_email}}”. You can access your tickets on the <a href="{{web_site_link}}">{{web_site_link}},</a>  under “My Tickets” section.</span>
           <div class="btn-group"> 
            <a ng-href='/tickets'>View Tickets on The Promo App</a>
          
           </div>
       </div>
    </div>
</div>
</div>
<div class="power_by">
    Powered by The Promo App
</div>
</div>

</div>
