<div class="custom-model-content unpublish-popup tc-reason-popup">
    <div class="modal-header bg-F9F9F9">
        <span class="pa-bootstrap-container pa-font-20 pa-color-333333 pa-bold-font pa-modal-font">Design Venue Map</span>
        <md-icon class="pa-float-right" ng-click="cancel()">close</md-icon>
    </div>
    <div class="modal-body pa-text-center pa-background-white">
        <div class="rewardpopup-content text-center welcome-design-popup">
            <span class="pa-mt-0 pa-color-333333">Welcome to the venue layout tool!</span>
            <p class="pa-display-inline-flex">We’re going to show you how to set up your event venue to give your guests the best experience. Keep an eye on the left-hand side of the screen once you’ve chosen your seating layout. We’ll guide you through the rest.</p>
            <p class="pa-mt-16">This demo will show you how to:</p>
            <ul class="design-venue-list">
                <li><i class="material-icons tt-mr-10">check_circle</i> Choose your seating type</li>
                <li><i class="material-icons tt-mr-10">check_circle</i> Name each seating area in your venue</li>
                <li><i class="material-icons tt-mr-10">check_circle</i> Select the number of rows and columns in each seating area</li>
                <li><i class="material-icons tt-mr-10">check_circle</i> Select your table type</li>
                <li><i class="material-icons tt-mr-10">check_circle</i> Add a number of seats to each table</li>
                <li><i class="material-icons tt-mr-10">check_circle</i> Customize the objects/areas in your venue layout/map</li>
                <li><i class="material-icons tt-mr-10">check_circle</i> Add helpful text prompts to your venue layout/map</li>
                <li><i class="material-icons tt-mr-10">check_circle</i> Assign ticket tiers to specific seats</li>
            </ul>
        </div>
        <div class="profile-edit-form-btn pa-mb-0">
            <div class="btn-group">
                <md-button ng-click="goToVenue('create')" class="pa-pink-button pa-no-margin md-button md-ink-rippl">Continue to Design Venue Map</md-button>
            </div>
        </div>
    </div>
</div>